.page-content
  = partial "jobs/parts/stepbar", :step => 3
  
  - if @job.is_active?
    .posted-ok
      %strong Congratulations, your job ad was published
      = br
      = link_to "View the new job ad", job_url(@job)
    
    %h4 Edit or Deactivate Your Ad
    %p
      If you need to edit or deactivate this ad, use the following links
    %ul
      %li= link_to "&raquo; Edit it", edit_job_url
      %li= link_to "&raquo; Deactivate ad", job_url(@job), :method => :delete, :confirm => "Are you sure you want to delete this ad?"
  - else
    .posted-pending
      Your job was posted, but since this is the first time you post with this e-mail address, we need to manually verify it.
      = br
      Thank you for your patience, as the ad should be published ASAP. We'll send you an e-mail when that happens. 
      = br*2
      From now on, every ad you post with this e-mail address will instantly be published.<br />
    = br
    %p
      = link_to "&laquo; Go Back to Homepage", root_url
  