<h1>Listing jobs</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Company</th>
    <th>Url</th>
    <th>Apply</th>
    <th>Is temp</th>
    <th>Is active</th>
    <th>Outside location</th>
    <th>Poster email</th>
    <th>Apply online</th>
  </tr>

<% for job in @jobs %>
  <tr>
    <td><%=h job.title %></td>
    <td><%=h job.description %></td>
    <td><%=h job.company %></td>
    <td><%=h job.url %></td>
    <td><%=h job.apply %></td>
    <td><%=h job.is_temp %></td>
    <td><%=h job.is_active %></td>
    <td><%=h job.outside_location %></td>
    <td><%=h job.poster_email %></td>
    <td><%=h job.apply_online %></td>
    <td><%= link_to 'Show', job %></td>
    <td><%= link_to 'Edit', edit_job_path(job) %></td>
    <td><%= link_to 'Destroy', job, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New job', new_job_path %>
