<h1>New job</h1>

<% form_for(@job) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :company %><br />
    <%= f.text_field :company %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :apply %><br />
    <%= f.text_field :apply %>
  </p>
  <p>
    <%= f.label :is_temp %><br />
    <%= f.check_box :is_temp %>
  </p>
  <p>
    <%= f.label :is_active %><br />
    <%= f.check_box :is_active %>
  </p>
  <p>
    <%= f.label :outside_location %><br />
    <%= f.text_field :outside_location %>
  </p>
  <p>
    <%= f.label :poster_email %><br />
    <%= f.text_field :poster_email %>
  </p>
  <p>
    <%= f.label :apply_online %><br />
    <%= f.check_box :apply_online %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', jobs_path %>
