<p>
  <b>Title:</b>
  <%=h @job.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @job.description %>
</p>

<p>
  <b>Company:</b>
  <%=h @job.company %>
</p>

<p>
  <b>Url:</b>
  <%=h @job.url %>
</p>

<p>
  <b>Apply:</b>
  <%=h @job.apply %>
</p>

<p>
  <b>Is temp:</b>
  <%=h @job.is_temp %>
</p>

<p>
  <b>Is active:</b>
  <%=h @job.is_active %>
</p>

<p>
  <b>Outside location:</b>
  <%=h @job.outside_location %>
</p>

<p>
  <b>Poster email:</b>
  <%=h @job.poster_email %>
</p>

<p>
  <b>Apply online:</b>
  <%=h @job.apply_online %>
</p>


<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
