- unless jobs.empty?
  -# Display Job Posts
  %table.job-posts{:cellspacing => 0}
    - jobs.each do |job|
      %tr.job_item{:id => "job_" + job.id.to_s}
        %td
          = job_type_image(job.job_type)
          = link_to job.title, admin_job_url(job), :title => job.title
          %span.la at
          = job_location_text(job)
      
        -# display time
        %td.time-posted
          = image_tag "clock.gif", :class => "vert-middle"
          = job.created_at.to_s(:job_listing)

        %td{:style => 'text-align:left;width:15%'}
          -# activate/deactivate link
          = link_to_remote(activation_image_tag(job), {:url => admin_job_url(job.id), :method => :put, :loading => "Element.hide('activ_butt_#{job.id}');Element.show('loading_#{job.id}')", :complete => "Element.hide('loading_#{job.id}');Element.show('activ_butt_#{job.id}')"}, {:id => "activ_butt_#{job.id}"})
          = image_tag("ajax-loader.gif", :alt => "Saving...", :style => 'display:none', :id => "loading_#{job.id}")
          -# delete link
          = link_to_remote(image_tag("icon-delete.png", :alt => 'Delete'), :url => admin_job_url(job.id), :confirm => 'Are you sure you want to delete this post?', :method => :delete)
          
- else
  #no-ads No jobs, yet.
