.categoryItem{:id => "category_#{category.id}"}
  .categoryHandle
  .categoryWrapper
    .categoryManagement{:style => 'float:right;width:10%;'}
      = link_to_delete_category(category.id)
      = link_to_save_category(category.id)
    %label
      %span Name: 
      = text_field_tag "name[#{category.id}]", category.name, :size => 60
      = observe_field "name[#{category.id}]",  :frequency => 1, :function => show_save_category(category.id)
    %label
      %span URL: 
      = text_field_tag "url[#{category.id}]", category.value, :size => 60
      = observe_field "url[#{category.id}]",  :frequency => 1, :function => show_save_category(category.id)