.categoryItem{:id => category.dom_id}
  .categoryHandle
  .categoryWrapper
    .categoryManagement{:style => 'float:right;width:10%;'}
      = link_to_delete_category(category)
      = link_to_save_category(category)
    %label
      %span Name: 
      = text_field_tag category.dom_id("name"), category.name, :size => 60
      = observe_field category.dom_id("name"),  :frequency => 1, :function => show_save_category(category)
    %label
      %span URL: 
      = text_field_tag category.dom_id("url"), category.value, :size => 60
      = observe_field category.dom_id("url"),  :frequency => 1, :function => show_save_category(category)