#header
  %h1#logo= link_to AppConfig.site_name, root_path
  - if logged_in?
    %ul#top
      %li= link_to "Pages", "#"
      = bull
      %li= link_to "Categories", "#"
      = bull
      %li= link_to "Change your password", "#"
      = bull
      %li= link_to "Logout", logout_path

  = partial "layouts/flash_boxes"
  
- unless logged_in?
  #categs-nav