#footer
  .footer-contents
    .footer-left
      Use:
      = br
    
      = link_to "Post a new job", new_job_url
      = br

      = link_to "Site widget", "#widget"
      = br
    
      = link_to "RSS Feeds", "#feeds"
      = br
    
      = link_to "The Ideal Job", new_job_request_url
      = br
    
    
    .footer-mid
      Find out more:
      = br
    
      = link_to "About Us", "#about"
      = br
    
      = link_to "Contact", "#contact"
      = br

    
    .footer-right
      Misc:
      = br
    
      = link_to "Companies", "#companies"
      = br
    
      = link_to "Sitemap", "#sitemap"
      = br
    
    .footer-copyright.text-right
      Powered by 
      = link_to "jobberRails", "http://www.jobberrails.com"
      = br
      == port of #{link_to "jobberBase", "http://www.jobberbase.com"}