#header
  %h1#logo= link_to AppConfig.site_name, root_url
  %ul#top
    %li= link_to "the ideal job", "#"
    = bull
    %li= link_to "Site widget", "#"
    = bull
    %li= link_to "About Us", "#"
    = bull
    %li= link_to "Contact", "#"
  
  #the_feed
    = link_to image_tag("bt-rss.gif"), "#"